/* You can add global styles to this file, and also import other style files */
body{
      font-family: "Inter", sans-serif;
}
::view-transition-old(root) {
  animation: 0.6s cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(root) {
  animation: 0.6s cubic-bezier(0, 0, 0.2, 1) both fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}